body { font-family: "Helvetica Neue"; }
.container {margin: 0 auto;width: 90%;padding: 0 5% 20px 5%;max-width: 960px;}
a { text-decoration: none;color: #4988C6; }
p, li {color: #666;line-height: 28px;}
h1 span {color: #ddd;font-size: 26px;}
h2 {margin-bottom: 20px;margin-top: 40px;line-height: 30px;border-bottom: 2px dotted #eee;padding: 10px 0;padding-left: 40px;}
h2 i {color: #e1e1e1;margin-left: -40px;}
h3 i {color: #e1e1e1;}
.title {font-weight: 800;font-size: 12px;text-transform: uppercase;display: block;margin-top: 20px;}
pre {background-color: #fafafa;padding: 20px;overflow: auto;border: 1px solid #f1f1f1;color: #26537f;line-height: 20px;border-radius: 3px;}
.note {color: #999;font-size: 14px;}
.download-button {padding: 15px 0;background: #F2F2F2;display: block;margin: 30px auto;width: 100%;max-width: 200px;text-align: center;color: #4988C6;text-decoration: none;font-weight: 400;font-size: 12px;border: 1px solid #eee;border-bottom: 3px solid #ddd;position: relative;text-transform: uppercase;color: #aaa;text-shadow: 0 1px #fff;}
.download-button:active {position: relative;top: 3px;border-bottom: 3px solid #fff;}
.download-button:hover {background-color: #efefef;color: #999;}
table {width: 100%;text-align: center;border: 0;border-collapse: collapse;border-spacing: 0;font-size: 14px;}
table td, table th {padding: 10px;margin: 0;}
table thead {background-color: #bbb;color: #fff;font-weight: 800;}
table tbody tr td{border-bottom: 1px solid #eee;}
table tbody tr:hover td{background-color: #eee;}
.error {color: #db0f0f;font-size: 12px;padding: 0 5px;display: inline-block;}
input[type="submit"]{line-height: 40px;height: 40px;border: 0;display: block;vertical-align: baseline;margin-top: 15px;padding: 0 15px;cursor: pointer;}
.enableiconpicker, .loadicons {font-size: 12px;}
.current_icon, .loadfromjson, .error, .loadicons {display: inline-block;height: 40px;line-height: 40px;position: relative;vertical-align: top;}
.message {background-color: #79c3db;padding: 10px;border: 1px solid #4eafcf;color: #fff;margin-top: 20px;font-size: 12px;line-height: 20px;padding-left: 35px;border-radius: 3px;}
.message i {margin-left: -26px;font-size: 16px;}
a.icon-up-open { float: right;color: #e1e1e1; }